<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API INTEGRATION</title>
  </head>
  <body>
    <h1><em>Api Integration App</em></h1>
    <div>
      <%if (locals.content) { %>
      <p>"Symbol: " <%= content.symbol %></p>
      <p>"Price 24Hs: " <%= content.price_24h %></p>
      <p>"Last Traded Price: " <%= content.last_trade_price %></p>

      <% } %>
    </div>
  </body>
</html>
